<%= form_for ([@question, @question.answers.build ]) do |f| %>

  <p> Text:</br> <%= f.text_field :body%> </p>

  <%= f.submit :Submit %>
<% end %>
<%if @question.errors.any? %>
  <ul class="Signup_Errors">
    <% for message_error in @question.errors.full_messages %>
      <li> * <%=  message_error %></li>
    <% end %>
  </ul>
<% end %>
